* {
    font-family: sans-serif;
}
.header {
    border: 2px solid #0550ca;
    box-sizing: border-box;
    border-radius: 10px;
        
}
.content {
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
        
}
.footer {
    border: 2px solid #035d0b;
    box-sizing: border-box;
    border-radius: 10px;
        
}

a {
    color: #006400;
    text-shadow: 1px 1px 1px black, 0 0 1em #006400
}
a:hover {
    color: #006400;
}
a:visited {
    color: #cecece; /* Цвет посещенных ссылок */
}
a:active {
    color: #ffff00; /* Цвет активных ссылок */
}
.shadowtext {
    text-align:center;
    line-height: 1.8;
    /* font-size: 2em; Размер надписи */
}
.shadowtext2 {
    text-shadow: 1px 1px 1px black, 0 0 1em #FFFFFF; 
    color: #006400; 
    font-size: 1.5em;
}
.shadowtext3 {
    text-align:right;
    font-size: 1.2em;
}
.shadowtext,
.shadowtext3 {
    text-shadow: 2px 2px 2px black, 0 0 1em #006400;
    color: white;
}
body {
    background:  #000000 url(img/fon.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    color: #FFFFFF
}
ul {
    list-style-image: url(icon24.png); /* Путь к изображению маркера */
    /* text-align: center; */
    list-style-position: inside;
}
.head  {
    overflow: hidden; /* Отменяем обтекание */
    margin: 30px 0; /* Отступ сверху и снизу */
}
.logo {
    float: left; /* Обтекание справа */
}
.head H1, .head P { 
    margin: 0 0 0 0px; /* Отступы */
}
/* Поля ввода */
input, textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
/* Кнопки */
button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
/* Шапка и меню */
.top-menu {
  position: relative;
  background: rgba(34,34,34,.2);
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.menu-main a {
  text-decoration: none;
  text-shadow: 2px 2px 2px black, 0 0 1em #006400;
  display: block;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  transition: .3s linear;
  line-height: 80px;
  padding: 0px 20px;
}
.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
    .menu-main {
      padding-top: 90px;
      text-align: center;
    }
    .navbar-logo {
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
    }
    .menu-main li {
        float: none;
        display: inline-block;
    }
    .menu-main a {
        line-height: normal;
        padding: 20px 15px;
        font-size: 16px;
    }
}
@media (max-width: 630px) {
      .menu-main li {display: block;}
}